// Header: xl/lg 11342:1169, md 11342:1557, sm 11342:1677
.header {
  background-color: $c-light-pink;

  &__inner {
    display: flex;
    align-items: center;
    height: $header-h-sm;
    padding-inline: 16px;

    @include lg {
      height: $header-h-lg;
      padding-inline: 32px;
    }
  }

  &__logo {
    margin-right: auto;
  }

  &__nav,
  &__contact {
    display: none;

    @include lg {
      display: flex;
    }
  }

  &__nav {
    margin-right: 64px;
  }

  &__burger {
    @include lg {
      display: none;
    }
  }
}
