// Hero: xl 11342:1168, lg 11342:1233, md 11342:1502, sm 11342:1649
// Отступы — от нижней границы хедера
.hero {
  &__inner {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 32px;
    padding-bottom: 104px;

    @include md {
      padding-top: 80px;
      padding-bottom: 228px;
    }

    @include lg {
      align-items: flex-start;
      padding-top: 135px;
      padding-bottom: 313px;
    }

    @include xl {
      padding-top: 144px;
      padding-bottom: 290px;
    }
  }

  &__text {
    position: relative;
    z-index: 1;
    width: 288px;
    text-align: center;

    @include md {
      align-self: flex-start;
      width: 280px;
      text-align: left;
    }

    @include lg {
      width: 260px;
    }

    @include xl {
      width: 280px;
    }
  }

  &__title {
    position: relative;
    z-index: 1;
    width: 288px;
    margin-top: 32px;

    @include md {
      position: absolute;
      top: 274px;
      right: $margin-md;
      left: $margin-md;

      width: auto;
      margin-top: 0;
    }

    @include lg {
      position: relative;
      inset: auto;
      width: 100%;
      margin-top: 8px;
    }

    @include xl {
      margin-top: 40px;
    }
  }

  &__cookie {
    display: block;
    width: 288px;
    height: 290px;

    @include md {
      width: 326px;
      height: 328px;
      margin-top: 16px;
    }

    @include lg {
      position: absolute;
      top: 0;
      left: calc(50% - 272px);

      width: 544px;
      height: 546px;
      margin-top: 0;
    }

    @include xl {
      left: calc(50% - 292px);
      width: 584px;
      height: 586px;
    }
  }

  &__cookie-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__button {
    position: relative;
    z-index: 1;
    width: 288px;

    @include md {
      width: 326px;
      margin-top: 80px;
    }

    @include lg {
      width: 260px;
      margin-top: 64px;
    }

    @include xl {
      width: 280px;
    }
  }
}
