// Social buttons states 11342:1741: default accent, hover & focus white
.social {
  display: flex;
  gap: 32px;

  &__link {
    display: block;
    width: 24px;
    height: 24px;
    color: $c-accent;

    @include hover(color, $c-white);
  }

  &__icon {
    display: block;
    width: 100%;
    height: 100%;
  }
}
